body{ 
    background-color: rgba(218, 192, 157, 0.541);
}
h1{
text-align:center;
font-size: 40px;
color:cadetblue
}
p{
    text-align: center;
    font-size: 30px;
    color: cadetblue;
}
img{
    width: 300px;
    margin-left: 100px;
}


.imagem1{
    width: 100px;
    border: 5px solid cadetblue;
}
.cabeçalho{
    background-color: rgb blue (71,117,223);
    display: flex;
}
.logocabecalho{
    width: 100px;
}
.lita_cabeçalho{
    display: flex;
    margin-left: 700px;
}
.item_lista_cabeçalho{
    color: cadetblue;
    list-style: none;
    text-transform: uppercase;
    font-size: 50px;
    padding: 5px;
}
